# Systems
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env

# Build
dist/
build/

# Database (Optional: Comment out if you want to backup your DB to git, but not recommended for public repos)
# database.sqlite
